.main {
    width: auto;
    height: 100vh;
    border: 2px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;

    .sideNav {
        height: 100%;
        width: 15%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        border: 2px solid red;

        .contents {
            height: auto;
            width: auto;
            margin-bottom: 10px;
            align-items: center;
            text-align: center;
            border: 1px solid black;
        }
    }

    .viewContent {
        height: 100%;
        width: 85%;
        margin: 20px;
        border: 2px solid blue;
    }

}